In [6]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\shanj\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\shanj\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\shanj\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

# Ranking applicants according to the employers requirement

In [7]:

dataset_df = pd.read_csv(r'C:\Users\shanj\Downloads\potentialtalents.csv')

# Expanding abbreviations

In [8]:
abbreviation_dict = {
    "HR": "Human Resource",
    
}

# Function to expand abbreviations in a sentence
def expand_abbreviations(sentence):
    words = sentence.split()
    expanded_sentence = [abbreviation_dict.get(word, word) for word in words]
    return ' '.join(expanded_sentence)

# Apply the function to the entire 'sentences' column
dataset_df['expanded_sentences'] = dataset_df['job_title'].apply(expand_abbreviations)

# Display the original and expanded sentences
print(dataset_df[['job_title', 'expanded_sentences']])

                                             job_title  \
0    2019 C.T. Bauer College of Business Graduate (...
1    Native English Teacher at EPIK (English Progra...
2                Aspiring Human Resources Professional
3               People Development Coordinator at Ryan
4      Advisory Board Member at Celal Bayar University
..                                                 ...
99   Aspiring Human Resources Manager | Graduating ...
100              Human Resources Generalist at Loparex
101   Business Intelligence and Analytics at Travelers
102                     Always set them up for Success
103   Director Of Administration at Excellence Logging

                                    expanded_sentences
0    2019 C.T. Bauer College of Business Graduate (...
1    Native English Teacher at EPIK (English Progra...
2                Aspiring Human Resources Professional
3               People Development Coordinator at Ryan
4      Advisory Board Member at Celal Bayar University
..                                                 ...
99   Aspiring Human Resources Manager | Graduating ...
100              Human Resources Generalist at Loparex
101   Business Intelligence and Analytics at Travelers
102                     Always set them up for Success
103   Director Of Administration at Excellence Logging

[104 rows x 2 columns]

In [9]:
dataset_df.head(25)

,id,job_title,location,connection,fit,expanded_sentences
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar University
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist
6,7,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...
7,8,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist
8,9,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...
9,10,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN,Seeking Human Resources HRIS and Generalist Po...
10,11,Student at Chapman University,"Lake Forest, California",2,NaN,Student at Chapman University
11,12,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,NaN,"SVP, CHRO, Marketing & Communications, CSR Off..."
12,13,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,NaN,Human Resources Coordinator at InterContinenta...
13,14,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...
14,15,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...
15,16,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...
16,17,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional
17,18,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan
18,19,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...
19,20,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional
21,22,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan
22,23,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar University
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist
24,25,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...

In [12]:
target_sentences = ["Aspiring human resources"]

# Processing the column by tokenizing and lematizing

In [15]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Download NLTK resources if not already downloaded
nltk.download('punkt')
nltk.download('wordnet')

# Initialize WordNet lemmatizer
lemmatizer = WordNetLemmatizer()

def tokenize_and_lemmatize(sentence):
    tokens = word_tokenize(sentence)
    lemmatized_tokens = [lemmatizer.lemmatize(token.lower()) for token in tokens]
    return ' '.join(lemmatized_tokens)

# Modify the cosine similarity calculation function
def calculate_cosine_similarity(corpus, target_sentence):
    corpus = [tokenize_and_lemmatize(sentence) for sentence in corpus]
    target_sentence = tokenize_and_lemmatize(target_sentence)

    vectorizer = CountVectorizer().fit_transform([target_sentence] + corpus)
    vectors = vectorizer.toarray()
    similarity_scores = cosine_similarity(vectors)
    return similarity_scores[1:]

# Tokenize and lemmatize the 'expanded_sentences' column
dataset_df['processed_expanded_sentences'] = dataset_df['expanded_sentences'].apply(tokenize_and_lemmatize)

# Display the DataFrame with the processed column
print("Processed DataFrame:")
print(dataset_df[['processed_expanded_sentences']])

Processed DataFrame:
                          processed_expanded_sentences
0    2019 c.t . bauer college of business graduate ...
1    native english teacher at epik ( english progr...
2                 aspiring human resource professional
3               people development coordinator at ryan
4      advisory board member at celal bayar university
..                                                 ...
99   aspiring human resource manager | graduating m...
100               human resource generalist at loparex
101    business intelligence and analytics at traveler
102                     always set them up for success
103   director of administration at excellence logging

[104 rows x 1 columns]

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\shanj\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\shanj\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [16]:
dataset_df

,id,job_title,location,connection,fit,expanded_sentences,processed_expanded_sentences,cosine_similarity_scores
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...,native english teacher at epik ( english progr...,0.000000
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar University,advisory board member at celal bayar university,0.000000
...,...,...,...,...,...,...,...,...
99,100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,NaN,Aspiring Human Resources Manager | Graduating ...,aspiring human resource manager | graduating m...,0.629941
100,101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+,NaN,Human Resources Generalist at Loparex,human resource generalist at loparex,0.516398
101,102,Business Intelligence and Analytics at Travelers,Greater New York City Area,49,NaN,Business Intelligence and Analytics at Travelers,business intelligence and analytics at traveler,0.000000
102,103,Always set them up for Success,Greater Los Angeles Area,500+,NaN,Always set them up for Success,always set them up for success,0.000000
103,104,Director Of Administration at Excellence Logging,"Katy, Texas",500+,NaN,Director Of Administration at Excellence Logging,director of administration at excellence logging,0.000000

In [20]:
# Calculate and print cosine similarity
dataset_df['cosine_similarity_scores_Aspiring'] = dataset_df['processed_expanded_sentences'].apply(lambda x: calculate_cosine_similarity([x], target_sentences[0])[0][0])

print("\nCosine Similarity Scores Aspiring:")
print(dataset_df[['cosine_similarity_scores_Aspiring']])

Cosine Similarity Scores Aspiring:
     cosine_similarity_scores_Aspiring
0                             0.462910
1                             0.000000
2                             0.866025
3                             0.000000
4                             0.000000
..                                 ...
99                            0.629941
100                           0.516398
101                           0.000000
102                           0.000000
103                           0.000000

[104 rows x 1 columns]

In [24]:
target_sentence = ["Seeking human resources"]

dataset_df['cosine_similarity_scores_seeking'] = dataset_df['processed_expanded_sentences'].apply(lambda x: calculate_cosine_similarity([x], target_sentence[0])[0][0])

print("\nCosine Similarity Scores seeking:")
print(dataset_df[['cosine_similarity_scores_seeking']])

Cosine Similarity Scores seeking:
     cosine_similarity_scores_seeking
0                            0.308607
1                            0.000000
2                            0.577350
3                            0.000000
4                            0.000000
..                                ...
99                           0.629941
100                          0.516398
101                          0.000000
102                          0.000000
103                          0.000000

[104 rows x 1 columns]

In [26]:
dataset_df['max_values'] = dataset_df[['cosine_similarity_scores_seeking', 'cosine_similarity_scores_Aspiring']].max(axis=1)

In [28]:
pd.set_option('display.max_rows', 500)
dataset_df.sort_values(by='max_values',ascending=False)

,id,job_title,location,connection,fit,expanded_sentences,processed_expanded_sentences,cosine_similarity_scores_Aspiring,cosine_similarity_scores_seeking,max_values
27,28,Seeking Human Resources Opportunities,"Chicago, Illinois",390,NaN,Seeking Human Resources Opportunities,seeking human resource opportunity,0.577350,0.866025,0.866025
98,99,Seeking Human Resources Position,"Las Vegas, Nevada Area",48,NaN,Seeking Human Resources Position,seeking human resource position,0.577350,0.866025,0.866025
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025
35,36,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025
16,17,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025
29,30,Seeking Human Resources Opportunities,"Chicago, Illinois",390,NaN,Seeking Human Resources Opportunities,seeking human resource opportunity,0.577350,0.866025,0.866025
96,97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025
32,33,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025
59,60,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025
45,46,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025
57,58,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025
48,49,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025
72,73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,NaN,"Aspiring Human Resources Manager, seeking inte...","aspiring human resource manager , seeking inte...",0.800641,0.800641,0.800641
73,74,Human Resources Professional,Greater Boston Area,16,NaN,Human Resources Professional,human resource professional,0.666667,0.666667,0.666667
9,10,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN,Seeking Human Resources HRIS and Generalist Po...,seeking human resource hris and generalist pos...,0.436436,0.654654,0.654654
61,62,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN,Seeking Human Resources HRIS and Generalist Po...,seeking human resource hris and generalist pos...,0.436436,0.654654,0.654654
39,40,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN,Seeking Human Resources HRIS and Generalist Po...,seeking human resource hris and generalist pos...,0.436436,0.654654,0.654654
78,79,Liberal Arts Major. Aspiring Human Resources A...,"Baton Rouge, Louisiana Area",7,NaN,Liberal Arts Major. Aspiring Human Resources A...,liberal art major . aspiring human resource an...,0.654654,0.436436,0.654654
52,53,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN,Seeking Human Resources HRIS and Generalist Po...,seeking human resource hris and generalist pos...,0.436436,0.654654,0.654654
99,100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,NaN,Aspiring Human Resources Manager | Graduating ...,aspiring human resource manager | graduating m...,0.629941,0.629941,0.629941
71,72,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,NaN,Business Management Major and Aspiring Human R...,business management major and aspiring human r...,0.612372,0.408248,0.612372
26,27,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,NaN,Aspiring Human Resources Management student se...,aspiring human resource management student see...,0.612372,0.612372,0.612372
65,66,Experienced Retail Manager and aspiring Human ...,"Austin, Texas Area",57,NaN,Experienced Retail Manager and aspiring Human ...,experienced retail manager and aspiring human ...,0.612372,0.408248,0.612372
28,29,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,NaN,Aspiring Human Resources Management student se...,aspiring human resource management student see...,0.612372,0.612372,0.612372
37,38,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350
60,61,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350
25,26,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350
50,51,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350
7,8,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350
87,88,Human Resources Management Major,"Milpitas, California",18,NaN,Human Resources Management Major,human resource management major,0.577350,0.577350,0.577350
38,39,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350
49,50,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350
6,7,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350
8,9,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350
93,94,Seeking Human Resources Opportunities. Open t...,Amerika Birleşik Devletleri,415,NaN,Seeking Human Resources Opportunities. Open to...,seeking human resource opportunity . open to t...,0.384900,0.577350,0.577350
51,52,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350
36,37,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350
24,25,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350
81,82,Aspiring Human Resources Professional | An ene...,"Austin, Texas Area",174,NaN,Aspiring Human Resources Professional | An ene...,aspiring human resource professional | an ener...,0.547723,0.365148,0.547723
77,78,Human Resources Generalist at Schwan's,Amerika Birleşik Devletleri,500+,NaN,Human Resources Generalist at Schwan's,human resource generalist at schwan 's,0.516398,0.516398,0.516398
88,89,Director Human Resources at EY,Greater Atlanta Area,349,NaN,Director Human Resources at EY,director human resource at ey,0.516398,0.516398,0.516398
67,68,Human Resources Specialist at Luxottica,Greater New York City Area,500+,NaN,Human Resources Specialist at Luxottica,human resource specialist at luxottica,0.516398,0.516398,0.516398
100,101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+,NaN,Human Resources Generalist at Loparex,human resource generalist at loparex,0.516398,0.516398,0.516398
74,75,"Nortia Staffing is seeking Human Resources, Pa...","San Jose, California",500+,NaN,"Nortia Staffing is seeking Human Resources, Pa...","nortia staffing is seeking human resource , pa...",0.333333,0.500000,0.500000
69,70,"Retired Army National Guard Recruiter, office ...","Virginia Beach, Virginia",82,NaN,"Retired Army National Guard Recruiter, office ...","retired army national guard recruiter , office...",0.333333,0.500000,0.500000
70,71,"Human Resources Generalist at ScottMadden, Inc.","Raleigh-Durham, North Carolina Area",500+,NaN,"Human Resources Generalist at ScottMadden, Inc.","human resource generalist at scottmadden , inc .",0.471405,0.471405,0.471405
66,67,"Human Resources, Staffing and Recruiting Profe...","Jackson, Mississippi Area",500+,NaN,"Human Resources, Staffing and Recruiting Profe...","human resource , staffing and recruiting profe...",0.471405,0.471405,0.471405
56,57,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910
14,15,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910
18,19,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910
43,44,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910
13,14,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910
30,31,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910
75,76,Aspiring Human Resources Professional | Passio...,"New York, New York",212,NaN,Aspiring Human Resources Professional | Passio...,aspiring human resource professional | passion...,0.447214,0.298142,0.447214
12,13,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,NaN,Human Resources Coordinator at InterContinenta...,human resource coordinator at intercontinental...,0.436436,0.436436,0.436436
55,56,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,NaN,Human Resources Coordinator at InterContinenta...,human resource coordinator at intercontinental...,0.436436,0.436436,0.436436
42,43,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,NaN,Human Resources Coordinator at InterContinenta...,human resource coordinator at intercontinental...,0.436436,0.436436,0.436436
64,65,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,NaN,Human Resources Coordinator at InterContinenta...,human resource coordinator at intercontinental...,0.436436,0.436436,0.436436
68,69,"Director of Human Resources North America, Gro...","Greater Grand Rapids, Michigan Area",500+,NaN,"Director of Human Resources North America, Gro...","director of human resource north america , gro...",0.408248,0.408248,0.408248
82,83,HR Manager at Endemol Shine North America,"Los Angeles, California",268,NaN,Human Resource Manager at Endemol Shine North ...,human resource manager at endemol shine north ...,0.408248,0.408248,0.408248
80,81,Senior Human Resources Business Partner at Hei...,"Chattanooga, Tennessee Area",455,NaN,Senior Human Resources Business Partner at Hei...,senior human resource business partner at heil...,0.408248,0.408248,0.408248
83,84,Human Resources professional for the world lea...,"Highland, California",50,NaN,Human Resources professional for the world lea...,human resource professional for the world lead...,0.365148,0.365148,0.365148
91,92,Seeking employment opportunities within Custom...,"Torrance, California",64,NaN,Seeking employment opportunities within Custom...,seeking employment opportunity within customer...,0.000000,0.192450,0.192450
76,77,Human Resources|\nConflict Management|\nPolici...,Dallas/Fort Worth Area,409,NaN,Human Resources| Conflict Management| Policies...,human resources| conflict management| policy &...,0.166667,0.166667,0.166667
94,95,Student at Westfield State University,"Bridgewater, Massachusetts",57,NaN,Student at Westfield State University,student at westfield state university,0.000000,0.000000,0.000000
102,103,Always set them up for Success,Greater Los Angeles Area,500+,NaN,Always set them up for Success,always set them up for success,0.000000,0.000000,0.000000
85,86,Information Systems Specialist and Programmer ...,"Gaithersburg, Maryland",4,NaN,Information Systems Specialist and Programmer ...,information system specialist and programmer w...,0.000000,0.000000,0.000000
101,102,Business Intelligence and Analytics at Travelers,Greater New York City Area,49,NaN,Business Intelligence and Analytics at Travelers,business intelligence and analytics at traveler,0.000000,0.000000,0.000000
86,87,Bachelor of Science in Biology from Victoria U...,"Baltimore, Maryland",40,NaN,Bachelor of Science in Biology from Victoria U...,bachelor of science in biology from victoria u...,0.000000,0.000000,0.000000
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar University,advisory board member at celal bayar university,0.000000,0.000000,0.000000
10,11,Student at Chapman University,"Lake Forest, California",2,NaN,Student at Chapman University,student at chapman university,0.000000,0.000000,0.000000
95,96,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19,NaN,Student at Indiana University Kokomo - Busines...,student at indiana university kokomo - busines...,0.000000,0.000000,0.000000
97,98,Student,"Houston, Texas Area",4,NaN,Student,student,0.000000,0.000000,0.000000
89,90,Undergraduate Research Assistant at Styczynski...,Greater Atlanta Area,155,NaN,Undergraduate Research Assistant at Styczynski...,undergraduate research assistant at styczynski...,0.000000,0.000000,0.000000
90,91,Lead Official at Western Illinois University,Greater Chicago Area,39,NaN,Lead Official at Western Illinois University,lead official at western illinois university,0.000000,0.000000,0.000000
11,12,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,NaN,"SVP, CHRO, Marketing & Communications, CSR Off...","svp , chro , marketing & communication , csr o...",0.000000,0.000000,0.000000
92,93,Admissions Representative at Community medical...,"Long Beach, California",9,NaN,Admissions Representative at Community medical...,admission representative at community medical ...,0.000000,0.000000,0.000000
84,85,RRP Brand Portfolio Executive at JTI (Japan To...,Greater Philadelphia Area,500+,NaN,RRP Brand Portfolio Executive at JTI (Japan To...,rrp brand portfolio executive at jti ( japan t...,0.000000,0.000000,0.000000
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...,native english teacher at epik ( english progr...,0.000000,0.000000,0.000000
17,18,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000
15,16,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...,native english teacher at epik ( english progr...,0.000000,0.000000,0.000000
41,42,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,NaN,"SVP, CHRO, Marketing & Communications, CSR Off...","svp , chro , marketing & communication , csr o...",0.000000,0.000000,0.000000
54,55,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,NaN,"SVP, CHRO, Marketing & Communications, CSR Off...","svp , chro , marketing & communication , csr o...",0.000000,0.000000,0.000000
47,48,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar University,advisory board member at celal bayar university,0.000000,0.000000,0.000000
46,47,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000
58,59,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000
44,45,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...,native english teacher at epik ( english progr...,0.000000,0.000000,0.000000
62,63,Student at Chapman University,"Lake Forest, California",2,NaN,Student at Chapman University,student at chapman university,0.000000,0.000000,0.000000
63,64,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,NaN,"SVP, CHRO, Marketing & Communications, CSR Off...","svp , chro , marketing & communication , csr o...",0.000000,0.000000,0.000000
40,41,Student at Chapman University,"Lake Forest, California",2,NaN,Student at Chapman University,student at chapman university,0.000000,0.000000,0.000000
79,80,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,NaN,Junior MES Engineer| Information Systems,junior me engineer| information system,0.000000,0.000000,0.000000
34,35,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar University,advisory board member at celal bayar university,0.000000,0.000000,0.000000
33,34,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000
31,32,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...,native english teacher at epik ( english progr...,0.000000,0.000000,0.000000
22,23,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar University,advisory board member at celal bayar university,0.000000,0.000000,0.000000
21,22,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000

# Ranking the applicants according to similarity to employers requirement

In [29]:
dataset_df.sort_values(by='max_values',ascending=False)

,id,job_title,location,connection,fit,expanded_sentences,processed_expanded_sentences,cosine_similarity_scores_Aspiring,cosine_similarity_scores_seeking,max_values
27,28,Seeking Human Resources Opportunities,"Chicago, Illinois",390,NaN,Seeking Human Resources Opportunities,seeking human resource opportunity,0.577350,0.866025,0.866025
98,99,Seeking Human Resources Position,"Las Vegas, Nevada Area",48,NaN,Seeking Human Resources Position,seeking human resource position,0.577350,0.866025,0.866025
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025
35,36,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025
16,17,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025
29,30,Seeking Human Resources Opportunities,"Chicago, Illinois",390,NaN,Seeking Human Resources Opportunities,seeking human resource opportunity,0.577350,0.866025,0.866025
96,97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025
32,33,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025
59,60,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025
45,46,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025
57,58,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025
48,49,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025
72,73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,NaN,"Aspiring Human Resources Manager, seeking inte...","aspiring human resource manager , seeking inte...",0.800641,0.800641,0.800641
73,74,Human Resources Professional,Greater Boston Area,16,NaN,Human Resources Professional,human resource professional,0.666667,0.666667,0.666667
9,10,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN,Seeking Human Resources HRIS and Generalist Po...,seeking human resource hris and generalist pos...,0.436436,0.654654,0.654654
61,62,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN,Seeking Human Resources HRIS and Generalist Po...,seeking human resource hris and generalist pos...,0.436436,0.654654,0.654654
39,40,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN,Seeking Human Resources HRIS and Generalist Po...,seeking human resource hris and generalist pos...,0.436436,0.654654,0.654654
78,79,Liberal Arts Major. Aspiring Human Resources A...,"Baton Rouge, Louisiana Area",7,NaN,Liberal Arts Major. Aspiring Human Resources A...,liberal art major . aspiring human resource an...,0.654654,0.436436,0.654654
52,53,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN,Seeking Human Resources HRIS and Generalist Po...,seeking human resource hris and generalist pos...,0.436436,0.654654,0.654654
99,100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,NaN,Aspiring Human Resources Manager | Graduating ...,aspiring human resource manager | graduating m...,0.629941,0.629941,0.629941
71,72,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,NaN,Business Management Major and Aspiring Human R...,business management major and aspiring human r...,0.612372,0.408248,0.612372
26,27,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,NaN,Aspiring Human Resources Management student se...,aspiring human resource management student see...,0.612372,0.612372,0.612372
65,66,Experienced Retail Manager and aspiring Human ...,"Austin, Texas Area",57,NaN,Experienced Retail Manager and aspiring Human ...,experienced retail manager and aspiring human ...,0.612372,0.408248,0.612372
28,29,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,NaN,Aspiring Human Resources Management student se...,aspiring human resource management student see...,0.612372,0.612372,0.612372
37,38,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350
60,61,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350
25,26,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350
50,51,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350
7,8,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350
87,88,Human Resources Management Major,"Milpitas, California",18,NaN,Human Resources Management Major,human resource management major,0.577350,0.577350,0.577350
38,39,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350
49,50,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350
6,7,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350
8,9,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350
93,94,Seeking Human Resources Opportunities. Open t...,Amerika Birleşik Devletleri,415,NaN,Seeking Human Resources Opportunities. Open to...,seeking human resource opportunity . open to t...,0.384900,0.577350,0.577350
51,52,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350
36,37,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350
24,25,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350
81,82,Aspiring Human Resources Professional | An ene...,"Austin, Texas Area",174,NaN,Aspiring Human Resources Professional | An ene...,aspiring human resource professional | an ener...,0.547723,0.365148,0.547723
77,78,Human Resources Generalist at Schwan's,Amerika Birleşik Devletleri,500+,NaN,Human Resources Generalist at Schwan's,human resource generalist at schwan 's,0.516398,0.516398,0.516398
88,89,Director Human Resources at EY,Greater Atlanta Area,349,NaN,Director Human Resources at EY,director human resource at ey,0.516398,0.516398,0.516398
67,68,Human Resources Specialist at Luxottica,Greater New York City Area,500+,NaN,Human Resources Specialist at Luxottica,human resource specialist at luxottica,0.516398,0.516398,0.516398
100,101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+,NaN,Human Resources Generalist at Loparex,human resource generalist at loparex,0.516398,0.516398,0.516398
74,75,"Nortia Staffing is seeking Human Resources, Pa...","San Jose, California",500+,NaN,"Nortia Staffing is seeking Human Resources, Pa...","nortia staffing is seeking human resource , pa...",0.333333,0.500000,0.500000
69,70,"Retired Army National Guard Recruiter, office ...","Virginia Beach, Virginia",82,NaN,"Retired Army National Guard Recruiter, office ...","retired army national guard recruiter , office...",0.333333,0.500000,0.500000
70,71,"Human Resources Generalist at ScottMadden, Inc.","Raleigh-Durham, North Carolina Area",500+,NaN,"Human Resources Generalist at ScottMadden, Inc.","human resource generalist at scottmadden , inc .",0.471405,0.471405,0.471405
66,67,"Human Resources, Staffing and Recruiting Profe...","Jackson, Mississippi Area",500+,NaN,"Human Resources, Staffing and Recruiting Profe...","human resource , staffing and recruiting profe...",0.471405,0.471405,0.471405
56,57,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910
14,15,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910
18,19,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910
43,44,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910
13,14,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910
30,31,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910
75,76,Aspiring Human Resources Professional | Passio...,"New York, New York",212,NaN,Aspiring Human Resources Professional | Passio...,aspiring human resource professional | passion...,0.447214,0.298142,0.447214
12,13,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,NaN,Human Resources Coordinator at InterContinenta...,human resource coordinator at intercontinental...,0.436436,0.436436,0.436436
55,56,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,NaN,Human Resources Coordinator at InterContinenta...,human resource coordinator at intercontinental...,0.436436,0.436436,0.436436
42,43,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,NaN,Human Resources Coordinator at InterContinenta...,human resource coordinator at intercontinental...,0.436436,0.436436,0.436436
64,65,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,NaN,Human Resources Coordinator at InterContinenta...,human resource coordinator at intercontinental...,0.436436,0.436436,0.436436
68,69,"Director of Human Resources North America, Gro...","Greater Grand Rapids, Michigan Area",500+,NaN,"Director of Human Resources North America, Gro...","director of human resource north america , gro...",0.408248,0.408248,0.408248
82,83,HR Manager at Endemol Shine North America,"Los Angeles, California",268,NaN,Human Resource Manager at Endemol Shine North ...,human resource manager at endemol shine north ...,0.408248,0.408248,0.408248
80,81,Senior Human Resources Business Partner at Hei...,"Chattanooga, Tennessee Area",455,NaN,Senior Human Resources Business Partner at Hei...,senior human resource business partner at heil...,0.408248,0.408248,0.408248
83,84,Human Resources professional for the world lea...,"Highland, California",50,NaN,Human Resources professional for the world lea...,human resource professional for the world lead...,0.365148,0.365148,0.365148
91,92,Seeking employment opportunities within Custom...,"Torrance, California",64,NaN,Seeking employment opportunities within Custom...,seeking employment opportunity within customer...,0.000000,0.192450,0.192450
76,77,Human Resources|\nConflict Management|\nPolici...,Dallas/Fort Worth Area,409,NaN,Human Resources| Conflict Management| Policies...,human resources| conflict management| policy &...,0.166667,0.166667,0.166667
94,95,Student at Westfield State University,"Bridgewater, Massachusetts",57,NaN,Student at Westfield State University,student at westfield state university,0.000000,0.000000,0.000000
102,103,Always set them up for Success,Greater Los Angeles Area,500+,NaN,Always set them up for Success,always set them up for success,0.000000,0.000000,0.000000
85,86,Information Systems Specialist and Programmer ...,"Gaithersburg, Maryland",4,NaN,Information Systems Specialist and Programmer ...,information system specialist and programmer w...,0.000000,0.000000,0.000000
101,102,Business Intelligence and Analytics at Travelers,Greater New York City Area,49,NaN,Business Intelligence and Analytics at Travelers,business intelligence and analytics at traveler,0.000000,0.000000,0.000000
86,87,Bachelor of Science in Biology from Victoria U...,"Baltimore, Maryland",40,NaN,Bachelor of Science in Biology from Victoria U...,bachelor of science in biology from victoria u...,0.000000,0.000000,0.000000
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar University,advisory board member at celal bayar university,0.000000,0.000000,0.000000
10,11,Student at Chapman University,"Lake Forest, California",2,NaN,Student at Chapman University,student at chapman university,0.000000,0.000000,0.000000
95,96,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19,NaN,Student at Indiana University Kokomo - Busines...,student at indiana university kokomo - busines...,0.000000,0.000000,0.000000
97,98,Student,"Houston, Texas Area",4,NaN,Student,student,0.000000,0.000000,0.000000
89,90,Undergraduate Research Assistant at Styczynski...,Greater Atlanta Area,155,NaN,Undergraduate Research Assistant at Styczynski...,undergraduate research assistant at styczynski...,0.000000,0.000000,0.000000
90,91,Lead Official at Western Illinois University,Greater Chicago Area,39,NaN,Lead Official at Western Illinois University,lead official at western illinois university,0.000000,0.000000,0.000000
11,12,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,NaN,"SVP, CHRO, Marketing & Communications, CSR Off...","svp , chro , marketing & communication , csr o...",0.000000,0.000000,0.000000
92,93,Admissions Representative at Community medical...,"Long Beach, California",9,NaN,Admissions Representative at Community medical...,admission representative at community medical ...,0.000000,0.000000,0.000000
84,85,RRP Brand Portfolio Executive at JTI (Japan To...,Greater Philadelphia Area,500+,NaN,RRP Brand Portfolio Executive at JTI (Japan To...,rrp brand portfolio executive at jti ( japan t...,0.000000,0.000000,0.000000
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...,native english teacher at epik ( english progr...,0.000000,0.000000,0.000000
17,18,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000
15,16,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...,native english teacher at epik ( english progr...,0.000000,0.000000,0.000000
41,42,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,NaN,"SVP, CHRO, Marketing & Communications, CSR Off...","svp , chro , marketing & communication , csr o...",0.000000,0.000000,0.000000
54,55,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,NaN,"SVP, CHRO, Marketing & Communications, CSR Off...","svp , chro , marketing & communication , csr o...",0.000000,0.000000,0.000000
47,48,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar University,advisory board member at celal bayar university,0.000000,0.000000,0.000000
46,47,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000
58,59,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000
44,45,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...,native english teacher at epik ( english progr...,0.000000,0.000000,0.000000
62,63,Student at Chapman University,"Lake Forest, California",2,NaN,Student at Chapman University,student at chapman university,0.000000,0.000000,0.000000
63,64,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,NaN,"SVP, CHRO, Marketing & Communications, CSR Off...","svp , chro , marketing & communication , csr o...",0.000000,0.000000,0.000000
40,41,Student at Chapman University,"Lake Forest, California",2,NaN,Student at Chapman University,student at chapman university,0.000000,0.000000,0.000000
79,80,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,NaN,Junior MES Engineer| Information Systems,junior me engineer| information system,0.000000,0.000000,0.000000
34,35,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar University,advisory board member at celal bayar university,0.000000,0.000000,0.000000
33,34,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000
31,32,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...,native english teacher at epik ( english progr...,0.000000,0.000000,0.000000
22,23,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar University,advisory board member at celal bayar university,0.000000,0.000000,0.000000
21,22,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000

In [31]:
tgs = ["Aspiring Human Resources Specialist"]
dataset_df['cosine_similarity_scores_AHRS'] = dataset_df['processed_expanded_sentences'].apply(lambda x: calculate_cosine_similarity([x], tgs[0])[0][0])

print("\nCosine Similarity Scores AHRS:")
print(dataset_df[['cosine_similarity_scores_AHRS']])

Cosine Similarity Scores AHRS:
     cosine_similarity_scores_AHRS
0                         0.400892
1                         0.000000
2                         0.750000
3                         0.000000
4                         0.000000
5                         1.000000
6                         0.500000
7                         0.750000
8                         0.500000
9                         0.377964
10                        0.000000
11                        0.000000
12                        0.377964
13                        0.400892
14                        0.400892
15                        0.000000
16                        0.750000
17                        0.000000
18                        0.400892
19                        0.000000
20                        0.750000
21                        0.000000
22                        0.000000
23                        1.000000
24                        0.500000
25                        0.750000
26                        0.530330
27                        0.500000
28                        0.530330
29                        0.500000
30                        0.400892
31                        0.000000
32                        0.750000
33                        0.000000
34                        0.000000
35                        1.000000
36                        0.500000
37                        0.750000
38                        0.500000
39                        0.377964
40                        0.000000
41                        0.000000
42                        0.377964
43                        0.400892
44                        0.000000
45                        0.750000
46                        0.000000
47                        0.000000
48                        1.000000
49                        0.500000
50                        0.750000
51                        0.500000
52                        0.377964
53                        0.000000
54                        0.000000
55                        0.377964
56                        0.400892
57                        0.750000
58                        0.000000
59                        1.000000
60                        0.750000
61                        0.377964
62                        0.000000
63                        0.000000
64                        0.377964
65                        0.530330
66                        0.408248
67                        0.670820
68                        0.353553
69                        0.288675
70                        0.408248
71                        0.530330
72                        0.693375
73                        0.577350
74                        0.288675
75                        0.387298
76                        0.144338
77                        0.447214
78                        0.566947
79                        0.000000
80                        0.353553
81                        0.474342
82                        0.353553
83                        0.316228
84                        0.000000
85                        0.138675
86                        0.000000
87                        0.500000
88                        0.447214
89                        0.000000
90                        0.000000
91                        0.000000
92                        0.000000
93                        0.333333
94                        0.000000
95                        0.000000
96                        0.750000
97                        0.000000
98                        0.500000
99                        0.545545
100                       0.447214
101                       0.000000
102                       0.000000
103                       0.000000

# Ranking applicants according to their similarity to a different requirement

In [32]:
dataset_df.sort_values(by='cosine_similarity_scores_AHRS',ascending=False)

,id,job_title,location,connection,fit,expanded_sentences,processed_expanded_sentences,cosine_similarity_scores_Aspiring,cosine_similarity_scores_seeking,max_values,cosine_similarity_scores_AHRS
35,36,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025,1.000000
48,49,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025,1.000000
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025,1.000000
59,60,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025,1.000000
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1,NaN,Aspiring Human Resources Specialist,aspiring human resource specialist,0.866025,0.577350,0.866025,1.000000
60,61,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350,0.750000
45,46,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025,0.750000
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025,0.750000
50,51,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350,0.750000
16,17,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025,0.750000
32,33,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025,0.750000
57,58,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025,0.750000
25,26,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350,0.750000
96,97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025,0.750000
37,38,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350,0.750000
7,8,HR Senior Specialist,San Francisco Bay Area,500+,NaN,Human Resource Senior Specialist,human resource senior specialist,0.577350,0.577350,0.577350,0.750000
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN,Aspiring Human Resources Professional,aspiring human resource professional,0.866025,0.577350,0.866025,0.750000
72,73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,NaN,"Aspiring Human Resources Manager, seeking inte...","aspiring human resource manager , seeking inte...",0.800641,0.800641,0.800641,0.693375
67,68,Human Resources Specialist at Luxottica,Greater New York City Area,500+,NaN,Human Resources Specialist at Luxottica,human resource specialist at luxottica,0.516398,0.516398,0.516398,0.670820
73,74,Human Resources Professional,Greater Boston Area,16,NaN,Human Resources Professional,human resource professional,0.666667,0.666667,0.666667,0.577350
78,79,Liberal Arts Major. Aspiring Human Resources A...,"Baton Rouge, Louisiana Area",7,NaN,Liberal Arts Major. Aspiring Human Resources A...,liberal art major . aspiring human resource an...,0.654654,0.436436,0.654654,0.566947
99,100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,NaN,Aspiring Human Resources Manager | Graduating ...,aspiring human resource manager | graduating m...,0.629941,0.629941,0.629941,0.545545
26,27,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,NaN,Aspiring Human Resources Management student se...,aspiring human resource management student see...,0.612372,0.612372,0.612372,0.530330
71,72,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,NaN,Business Management Major and Aspiring Human R...,business management major and aspiring human r...,0.612372,0.408248,0.612372,0.530330
65,66,Experienced Retail Manager and aspiring Human ...,"Austin, Texas Area",57,NaN,Experienced Retail Manager and aspiring Human ...,experienced retail manager and aspiring human ...,0.612372,0.408248,0.612372,0.530330
28,29,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,NaN,Aspiring Human Resources Management student se...,aspiring human resource management student see...,0.612372,0.612372,0.612372,0.530330
29,30,Seeking Human Resources Opportunities,"Chicago, Illinois",390,NaN,Seeking Human Resources Opportunities,seeking human resource opportunity,0.577350,0.866025,0.866025,0.500000
36,37,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350,0.500000
38,39,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350,0.500000
27,28,Seeking Human Resources Opportunities,"Chicago, Illinois",390,NaN,Seeking Human Resources Opportunities,seeking human resource opportunity,0.577350,0.866025,0.866025,0.500000
24,25,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350,0.500000
51,52,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350,0.500000
87,88,Human Resources Management Major,"Milpitas, California",18,NaN,Human Resources Management Major,human resource management major,0.577350,0.577350,0.577350,0.500000
98,99,Seeking Human Resources Position,"Las Vegas, Nevada Area",48,NaN,Seeking Human Resources Position,seeking human resource position,0.577350,0.866025,0.866025,0.500000
8,9,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350,0.500000
6,7,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350,0.500000
49,50,Student at Humber College and Aspiring Human R...,Kanada,61,NaN,Student at Humber College and Aspiring Human R...,student at humber college and aspiring human r...,0.577350,0.384900,0.577350,0.500000
81,82,Aspiring Human Resources Professional | An ene...,"Austin, Texas Area",174,NaN,Aspiring Human Resources Professional | An ene...,aspiring human resource professional | an ener...,0.547723,0.365148,0.547723,0.474342
77,78,Human Resources Generalist at Schwan's,Amerika Birleşik Devletleri,500+,NaN,Human Resources Generalist at Schwan's,human resource generalist at schwan 's,0.516398,0.516398,0.516398,0.447214
88,89,Director Human Resources at EY,Greater Atlanta Area,349,NaN,Director Human Resources at EY,director human resource at ey,0.516398,0.516398,0.516398,0.447214
100,101,Human Resources Generalist at Loparex,"Raleigh-Durham, North Carolina Area",500+,NaN,Human Resources Generalist at Loparex,human resource generalist at loparex,0.516398,0.516398,0.516398,0.447214
70,71,"Human Resources Generalist at ScottMadden, Inc.","Raleigh-Durham, North Carolina Area",500+,NaN,"Human Resources Generalist at ScottMadden, Inc.","human resource generalist at scottmadden , inc .",0.471405,0.471405,0.471405,0.408248
66,67,"Human Resources, Staffing and Recruiting Profe...","Jackson, Mississippi Area",500+,NaN,"Human Resources, Staffing and Recruiting Profe...","human resource , staffing and recruiting profe...",0.471405,0.471405,0.471405,0.408248
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910,0.400892
43,44,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910,0.400892
30,31,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910,0.400892
18,19,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910,0.400892
14,15,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910,0.400892
13,14,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910,0.400892
56,57,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN,2019 C.T. Bauer College of Business Graduate (...,2019 c.t . bauer college of business graduate ...,0.462910,0.308607,0.462910,0.400892
75,76,Aspiring Human Resources Professional | Passio...,"New York, New York",212,NaN,Aspiring Human Resources Professional | Passio...,aspiring human resource professional | passion...,0.447214,0.298142,0.447214,0.387298
61,62,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN,Seeking Human Resources HRIS and Generalist Po...,seeking human resource hris and generalist pos...,0.436436,0.654654,0.654654,0.377964
64,65,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,NaN,Human Resources Coordinator at InterContinenta...,human resource coordinator at intercontinental...,0.436436,0.436436,0.436436,0.377964
55,56,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,NaN,Human Resources Coordinator at InterContinenta...,human resource coordinator at intercontinental...,0.436436,0.436436,0.436436,0.377964
52,53,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN,Seeking Human Resources HRIS and Generalist Po...,seeking human resource hris and generalist pos...,0.436436,0.654654,0.654654,0.377964
39,40,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN,Seeking Human Resources HRIS and Generalist Po...,seeking human resource hris and generalist pos...,0.436436,0.654654,0.654654,0.377964
12,13,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,NaN,Human Resources Coordinator at InterContinenta...,human resource coordinator at intercontinental...,0.436436,0.436436,0.436436,0.377964
9,10,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500+,NaN,Seeking Human Resources HRIS and Generalist Po...,seeking human resource hris and generalist pos...,0.436436,0.654654,0.654654,0.377964
42,43,Human Resources Coordinator at InterContinenta...,"Atlanta, Georgia",500+,NaN,Human Resources Coordinator at InterContinenta...,human resource coordinator at intercontinental...,0.436436,0.436436,0.436436,0.377964
82,83,HR Manager at Endemol Shine North America,"Los Angeles, California",268,NaN,Human Resource Manager at Endemol Shine North ...,human resource manager at endemol shine north ...,0.408248,0.408248,0.408248,0.353553
80,81,Senior Human Resources Business Partner at Hei...,"Chattanooga, Tennessee Area",455,NaN,Senior Human Resources Business Partner at Hei...,senior human resource business partner at heil...,0.408248,0.408248,0.408248,0.353553
68,69,"Director of Human Resources North America, Gro...","Greater Grand Rapids, Michigan Area",500+,NaN,"Director of Human Resources North America, Gro...","director of human resource north america , gro...",0.408248,0.408248,0.408248,0.353553
93,94,Seeking Human Resources Opportunities. Open t...,Amerika Birleşik Devletleri,415,NaN,Seeking Human Resources Opportunities. Open to...,seeking human resource opportunity . open to t...,0.384900,0.577350,0.577350,0.333333
83,84,Human Resources professional for the world lea...,"Highland, California",50,NaN,Human Resources professional for the world lea...,human resource professional for the world lead...,0.365148,0.365148,0.365148,0.316228
74,75,"Nortia Staffing is seeking Human Resources, Pa...","San Jose, California",500+,NaN,"Nortia Staffing is seeking Human Resources, Pa...","nortia staffing is seeking human resource , pa...",0.333333,0.500000,0.500000,0.288675
69,70,"Retired Army National Guard Recruiter, office ...","Virginia Beach, Virginia",82,NaN,"Retired Army National Guard Recruiter, office ...","retired army national guard recruiter , office...",0.333333,0.500000,0.500000,0.288675
76,77,Human Resources|\nConflict Management|\nPolici...,Dallas/Fort Worth Area,409,NaN,Human Resources| Conflict Management| Policies...,human resources| conflict management| policy &...,0.166667,0.166667,0.166667,0.144338
85,86,Information Systems Specialist and Programmer ...,"Gaithersburg, Maryland",4,NaN,Information Systems Specialist and Programmer ...,information system specialist and programmer w...,0.000000,0.000000,0.000000,0.138675
94,95,Student at Westfield State University,"Bridgewater, Massachusetts",57,NaN,Student at Westfield State University,student at westfield state university,0.000000,0.000000,0.000000,0.000000
95,96,Student at Indiana University Kokomo - Busines...,"Lafayette, Indiana",19,NaN,Student at Indiana University Kokomo - Busines...,student at indiana university kokomo - busines...,0.000000,0.000000,0.000000,0.000000
102,103,Always set them up for Success,Greater Los Angeles Area,500+,NaN,Always set them up for Success,always set them up for success,0.000000,0.000000,0.000000,0.000000
101,102,Business Intelligence and Analytics at Travelers,Greater New York City Area,49,NaN,Business Intelligence and Analytics at Travelers,business intelligence and analytics at traveler,0.000000,0.000000,0.000000,0.000000
86,87,Bachelor of Science in Biology from Victoria U...,"Baltimore, Maryland",40,NaN,Bachelor of Science in Biology from Victoria U...,bachelor of science in biology from victoria u...,0.000000,0.000000,0.000000,0.000000
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000,0.000000
11,12,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,NaN,"SVP, CHRO, Marketing & Communications, CSR Off...","svp , chro , marketing & communication , csr o...",0.000000,0.000000,0.000000,0.000000
89,90,Undergraduate Research Assistant at Styczynski...,Greater Atlanta Area,155,NaN,Undergraduate Research Assistant at Styczynski...,undergraduate research assistant at styczynski...,0.000000,0.000000,0.000000,0.000000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar University,advisory board member at celal bayar university,0.000000,0.000000,0.000000,0.000000
90,91,Lead Official at Western Illinois University,Greater Chicago Area,39,NaN,Lead Official at Western Illinois University,lead official at western illinois university,0.000000,0.000000,0.000000,0.000000
91,92,Seeking employment opportunities within Custom...,"Torrance, California",64,NaN,Seeking employment opportunities within Custom...,seeking employment opportunity within customer...,0.000000,0.192450,0.192450,0.000000
92,93,Admissions Representative at Community medical...,"Long Beach, California",9,NaN,Admissions Representative at Community medical...,admission representative at community medical ...,0.000000,0.000000,0.000000,0.000000
97,98,Student,"Houston, Texas Area",4,NaN,Student,student,0.000000,0.000000,0.000000,0.000000
84,85,RRP Brand Portfolio Executive at JTI (Japan To...,Greater Philadelphia Area,500+,NaN,RRP Brand Portfolio Executive at JTI (Japan To...,rrp brand portfolio executive at jti ( japan t...,0.000000,0.000000,0.000000,0.000000
10,11,Student at Chapman University,"Lake Forest, California",2,NaN,Student at Chapman University,student at chapman university,0.000000,0.000000,0.000000,0.000000
54,55,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,NaN,"SVP, CHRO, Marketing & Communications, CSR Off...","svp , chro , marketing & communication , csr o...",0.000000,0.000000,0.000000,0.000000
79,80,Junior MES Engineer| Information Systems,"Myrtle Beach, South Carolina Area",52,NaN,Junior MES Engineer| Information Systems,junior me engineer| information system,0.000000,0.000000,0.000000,0.000000
15,16,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...,native english teacher at epik ( english progr...,0.000000,0.000000,0.000000,0.000000
41,42,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,NaN,"SVP, CHRO, Marketing & Communications, CSR Off...","svp , chro , marketing & communication , csr o...",0.000000,0.000000,0.000000,0.000000
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...,native english teacher at epik ( english progr...,0.000000,0.000000,0.000000,0.000000
58,59,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000,0.000000
47,48,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar University,advisory board member at celal bayar university,0.000000,0.000000,0.000000,0.000000
46,47,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN,People Development Coordinator at Ryan,people development coordinator at ryan,0.000000,0.000000,0.000000,0.000000
44,45,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN,Native English Teacher at EPIK (English Progra...,native english teacher at epik ( english progr...,0.000000,0.000000,0.000000,0.000000
62,63,Student at Chapman University,"Lake Forest, California",2,NaN,Student at Chapman University,student at chapman university,0.000000,0.000000,0.000000,0.000000
63,64,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,NaN,"SVP, CHRO, Marketing & Communications, CSR Off...","svp , chro , marketing & communication , csr o...",0.000000,0.000000,0.000000,0.000000
40,41,Student at Chapman University,"Lake Forest, California",2,NaN,Student at Chapman University,student at chapman university,0.000000,0.000000,0.000000,0.000000
53,54,Student at Chapman University,"Lake Forest, California",2,NaN,Student at Chapman University,student at chapman university,0.000000,0.000000,0.000000,0.000000
34,35,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN,Advisory Board Member at Celal Bayar University,advisory board member at celal bayar university,0.000000,0.000000,0.000000,0.000000

# Conclusion

Applicants where ranked comparing the similarity between their bio and the requirement proposed by the employer.

First requriement: Aspiring human resources
Second: Seeking human resource

Bio where processed by performing tokenization, expansion and lematization and the cosine similarity for each bio was calculated.

Applicants where further ranked according to the cosine similarity.

Applicant number 27 was found to be the best applicant.

Further another reauirement was considered and ranked the applicants accordingly.